/* fonts */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
}

a.nav-link {
  color: #ffffff;
  text-transform: uppercase;
}

.hero {
  background-image: url("../img/background-moval-marketing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  vertical-align: middle;
}
.hero h2 {
  font-size: 34px;
  font-weight: 600;
}
.hero h3 {
  font-weight: 600;
}
.logo {
  width: 180px;
}

@media (max-width: 768px) {
}
@media (max-width: 547px) {
  .hero h2 {
    font-size: 28px;
    font-weight: 600;
  }
  .hero h3 {
    font-weight: 600;
  }
}

section {
  margin-bottom: 3em;
}
li.nav-item {
  padding: 0 0.6em;
}
.about h2 {
  font-size: 20px;
  font-weight: bold;
}
.parrafo {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 23px;
}
.about ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-left: 74px;
}

.call-action {
  background-image: url("../img/girl-cell.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.call-action h2 {
  font-weight: 600;
  color: #333;
}

.call-action p {
  line-height: 1.4rem;
  color: #575757;
  font-size: 18px;
  font-weight: 400;
  margin-top: 1em;
}
@media (max-width: 400px) {
  .call-action h2 {
    font-size: 1.5rem;
  }
  .call-action p {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .call-action {
    height: 380px;
  }
}
.services h2 {
  text-align: center;
  text-transform: uppercase;
}
.services p {
  text-align: center;
}

.hero-services {
  margin-top: 65px;
  background-image: url("../img/header-servicios-movalmarketing.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-services h2 {
  font-weight: 600;
  font-size: 30px;
}

.btn-home {
  color: #ffffff;
  background-color: #666666;
  border-color: #666666;
  font-weight: 600;
}
.btn-home:hover {
  background-color: #f15a24;
}
.btn-home-two {
  color: aliceblue;
  background-color: #3a64a5;
  border-color: #333;
}
.btn-home-two:hover {
  background-color: #ccc;
}
.icons {
  width: 28px;
  height: 28px;
  opacity: 0.6;
}
.ancla:before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 130px;
  visibility: hidden;
}
.no-gutters {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

footer {
  background-color: #d6d6d6;
  font-size: 14px;
  padding-top: 2em;
  padding-bottom: 0.5em;
}
footer button {
  padding-top: 0;
}

@media (max-width: 767px) {
  footer button {
    margin-top: 0.8rem !important;
  }
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #f15a24 !important;
  background-color: transparent;
}

#v-pills-tab a.nav-link {
  color: #333;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  border-bottom: 2px solid #f15a24;
}

#v-pills-tabContent {
  border-left: 2px solid #666;
}
.socialmenu {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}
.mto {
  margin-top: 50px;
}

.blackshadow {
  color: #ffffff;
  text-shadow: #333333 1px 1px 2px;
  font-weight: 600;
}
.contactus h2 {
  text-align: center;
  text-transform: uppercase;
}
.circle {
  border-radius: 50%;
  width: 200px;
  margin: 0 auto;
}
.card {
  border: 0;
}
.card-footer {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 0;
}
.design {
  background-color: #c9cbcd;
  padding-bottom: 6em;
}
.designtwo {
  background-color: #6cb0c7;
  padding-bottom: 6em;
}
.design h1,
.designtwo h1 {
  font-weight: 600;
}
.designtwo .parrafo {
  color: #ffffff;
}
.black {
  background-color: #ffffff;
}
.subservices {
  font-size: 20px;
  font-weight: 600;
}
.list-group {
  justify-content: center;
}

.list-group-item {
  border: 0;
  display: list-item;
}
.subservices ul {
  list-style-image: url("../img/icons_circle-fill.png");
  margin-left: 20px;
}
@media (max-width: 768px) {
  .subservices ul {
    text-align: left;
  }
}
.subservices li {
  padding: 0 3em 0 0.1em;
}
.modal-header .close {
  padding: 0;
  margin: -1.2rem -0.7rem 0 auto;
  font-size: 2.4rem;
}
.modal-header {
  padding: 0;
  border: 0;
}
